:root {
  --background-color: #b1d4e0;
  --node-color: white;
  --wall-color: rgb(12, 53, 71);
  --node-visited-color-0: rgba(0, 0, 66, 0.75);
  --node-visited-color-50: rgba(17, 104, 217, 0.75);
  --node-visited-color-75: rgba(0, 217, 159, 0.75);
  --node-visited-color-100: rgba(0, 190, 218, 0.75);
  --node-shortest-path-color-0: rgb(255, 254, 106);
  --node-shortest-path-color-50: rgb(255, 254, 106);
  --node-shortest-path-color-100: rgb(255, 254, 106);
  /* --node-visited-color:  */
}

.dark-mode {
  --background-color: #343a40;
  --node-color: #463f3a;
  --wall-color: #ddbea9;
  --node-visited-color-0: #bee9e8;
  --node-visited-color-50: #cae9ff;
  --node-visited-color-75: #62b6cb;
  --node-visited-color-100: #0582ca;
  --node-shortest-path-color-0: #ff758f;
  --node-shortest-path-color-50: #c9184a;
  --node-shortest-path-color-100: #a4133c;
}
